version: "3"

services:
  nginx:
    image: "aweng-media-nginx:{{ lookup('env','RELEASE') }}"
    container_name: aweng-media-nginx
    restart: unless-stopped
    networks:
      - default
      - reverse-proxy
    expose:
      - 80
    labels:
      - "traefik.enable=true"
      - "provider.docker.network=reverse-proxy"
      - "traefik.http.routers.www.rule=Host(`{{ traefik_host }}`) || Host(`www.{{ traefik_host }}`)"
      - "traefik.http.routers.www.entrypoints=websecure"
      - "traefik.http.routers.www.tls.certresolver=myresolver"
      - "traefik.http.middlewares.www-redirect.redirectregex.regex=^https://www.{{ traefik_host }}/(.*)"
      - "traefik.http.middlewares.www-redirect.redirectregex.replacement=https://{{ traefik_host }}/$${1}"
      - "traefik.http.middlewares.www-redirect.redirectregex.permanent=true"
      - "traefik.http.routers.www.middlewares=www-redirect"

networks:
  default:
  reverse-proxy:
    external:
      name: reverse-proxy